.welcome-block{
  li{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 255px;
    max-width: 100%;
    height: 250px;
    background-color: $nav-block-bg;
    a{
      color: $light-text;
      &:hover{
        text-decoration: none;
      }
    }
    &:hover{
      -moz-transition: all .75s ease-out;
      -o-transition: all .75s ease-out;
      -webkit-transition: all .75s ease-out;
      background-color: $nav-hover-color;
    }
  }
}
@each $icon in $icons-welcome-list{
  $w: $w+1;
  .welcome-block li:nth-last-child(#{$w}){
      &:before {
        content: '';
        background: url("../../images/welcome-icons/#{$icon}.png") no-repeat;
        width: 65px;
        height: 65px;
        display: block;
        margin-bottom: 20px;
      }
  }
}
